In [16]:
import config
import pandas as pd
import numpy as np
import lyricsgenius
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [4]:
df = pd.read_csv('charts.csv')
df.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1
4,1958-08-04,5,When,Kalin Twins,NaN,5,1

In [8]:
# Filter dataframe to include only songs that reached peak-rank of 1

df = df.loc[df['peak-rank'] == 1]

16576

In [14]:
# This leaves 1,097 songs
df['song'].nunique()

1097

In [ ]:
# Lyrics Genius
LyricsGenius = lyricsgenius.Genius(client_access_token)